<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1> Kalia-Lee Rodney </h1>
    <p> I am 20 years old.  I attend The University of the West Indies pursuing a major in Computer
        Science. I like to watch Youtube videos and Netflix. I am interested in Web Development because 
        I want to learn new languages and learn more about websites and I hope to use these tools to 
        contribute to my society.I am interested in becoming a data scientist or an AI Researcher in the future.</p>
</body>
</html>